# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
alphazero/src/__pycache__/visualize_board.cpython-37.pycZone.Identifier
alphazero/src/__pycache__/MCTS_chess.cpython-310.pyc
alphazero/src/__pycache__/MCTS_chess.cpython-37.pycZone.Identifier
alphazero/src/__pycache__/evaluator.cpython-37.pyc
alphazero/src/__pycache__/encoder_decoder.cpython-37.pycZone.Identifier
alphazero/notebooks/model_comp/model_A/model_best_config.json
alphazero/notebooks/model_comp/model_A/model_best.weights.h5
alphazero/notebooks/model_comp/model_B/model_best_config.json
alphazero/notebooks/model_comp/model_B/model_best_weight.h5
alphazero/archive/MODELS/model_best.weights.h5
alphazero/archive/MODELS/model_best_config.json
*.Identifier
*.h5
*.json
*.log
*.weights.h5
*.config.json
*.best.weights.h5
*.best.config.json
alphazero/data/model/model_best.weights.h5
